<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system" title="System" translate="title" sortOrder="90">
                    <resource id="Licentia_Panda::account_details" title="Green Flying Panda" translate="title" sortOrder="50">
                        <resource id="Licentia_Reports::indexer" title="Indexers" translate="title" sortOrder="40"/>
                    </resource>
                </resource>
                <resource id="Magento_Reports::report" title="Reports" sortOrder="70">
                    <resource id="Licentia_Reports::reports" title="Marketing Automation" sortOrder="110">
                        <resource id="Licentia_Reports::reports_errors" title="Errors" sortOrder="10"/>
                        <resource id="Licentia_Reports::reports_reports" title="Basic Usage" sortOrder="20"/>
                        <resource id="Licentia_Reports::reports_coupons" title="Coupons" sortOrder="30"/>
                        <resource id="Licentia_Reports::reports_conversions" title="Conversions" sortOrder="40"/>
                        <resource id="Licentia_Reports::reports_events" title="Events" sortOrder="50"/>
                        <resource id="Licentia_Reports::reports_links" title="Links" sortOrder="60"/>
                        <resource id="Licentia_Reports::reports_logs" title="Logs" sortOrder="70"/>
                        <resource id="Licentia_Reports::reorders" title="Expected Reorders" sortOrder="80"/>
                        <resource id="Licentia_Reports::prices_variation" title="Prices Variation" sortOrder="80"/>
                        <resource id="Licentia_Reports::performance" title="Product Performance" sortOrder="90"/>
                        <resource id="Licentia_Reports::relations" title="Products Relations" sortOrder="100"/>
                        <resource id="Licentia_Reports::venn" title="Venn Relations" sortOrder="110"/>
                        <resource id="Licentia_Reports::recommendations" title="Product Recommendations" sortOrder="120"/>
                        <resource id="Licentia_Reports::search" title="Search History" sortOrder="130"/>
                        <resource id="Licentia_Reports::report_orders" title="Orders" sortOrder="140"/>
                        <resource id="Licentia_Reports::searchperformance" title="Search Performance" sortOrder="150"/>
                        <resource id="Licentia_Reports::searchvenn" title="Search Venn" sortOrder="160"/>
                        <resource id="Licentia_Reports::searchcloud" title="Search Cloud" sortOrder="170"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>